### Solutions

#### Question 1

Write some code that generates an `m` x `n` multiplication table.

For example if `m=3` and `n=4` your output should look something like:

```
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
---------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
---------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
---------------
```

Your code should be generic enough that it can handle any positive integer values of `m` and `n`.

In [14]:
m = 3
n = 5

for row in range(1, m + 1):
    for col in range(1, n + 1):
        print(f'{row} x {col} = {row * col}')
    print('-' * 12)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
------------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
------------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
------------

#### Question 2

Your are given the following tuple of lists:

In [1]:
data = (
    ['2021-01-01', 10, 20],
    ['2021-01-02', 20, 18],
    ['2021-01-03', -10, 10],
    ['2021-01-04', 100, 102],
    ['2021-01-05', 20, 45]
)

Your program should:
1. Mutate the lists in `data` to add one more element indicating the distance between the two integer numbers (i.e. the absolute value fo the difference)
2. Determine on which date this newly calculate value was the largest.
3. Be able to work for a `data` set containing any number of lists.

In [7]:
data = (
    ['2021-01-01', 10, 20],
    ['2021-01-02', 20, 18],
    ['2021-01-03', -10, 10],
    ['2021-01-04', 100, 102],
    ['2021-01-05', 20, 45],
    ['2021-01-06', 20, 450],
    ['2021-01-07', 20, 45]
)


for idx, lst in enumerate(data):
    dist = abs(lst[1] - lst[2])
    lst.append(dist)

    if idx == 0 or (idx != 0 and max_dist < dist):
        max_dist = dist
        max_dist_idx = idx

print(data[max_dist_idx][0])
print(data)

2021-01-06
(['2021-01-01', 10, 20, 10], ['2021-01-02', 20, 18, 2], ['2021-01-03', -10, 10, 20], ['2021-01-04', 100, 102, 2], ['2021-01-05', 20, 45, 25], ['2021-01-06', 20, 450, 430], ['2021-01-07', 20, 45, 25])

#### Question 3

You are given a list of lists containing two numbers that will need to be color coded later based on a trend determined by the following rules:
1. If the first number of a row is higher than the second number of the previous row, append the string `up` to the row
2. If the first number of a row is lower than the second number of the previous row, append the string `down` to the row
3. Otherwise, append `same` to the row.

Obviously you cannot apply these rules to the first row (there is no preceding row), so append an empty string for the first row.

Basically think of this as a list of Open/Close values, and we want to assign the values `same`, `up`, or `down` based on how a row's Open value compares to the Close of the *previous* row.

For example, given the following list:

In [2]:
data = [
    [10, 20],
    [20, 30],
    [35, 50],
    [45, 60]
]

Then after your code finishes running, your `data` should look like this:

```
[
    [10, 20, ''],
    [20, 30, 'same'],
    [35, 50, 'up'],
    [45, 60, 'down']
]
```

In [11]:
data = [
    [10, 20],
    [20, 30],
    [35, 50],
    [45, 60]
]

for idx, lst in enumerate(data):
    if idx == 0:
        data[idx].append('')
    elif data[idx - 1][1] < data[idx][0]:
        data[idx].append('up')
    elif data[idx - 1][1] > data[idx][0]:
        data[idx].append('down')
    else:
        data[idx].append('same')
        
data

[[10, 20, ''], [20, 30, 'same'], [35, 50, 'up'], [45, 60, 'down']]